ul.top-nav{
    background-color: #333333;
    list-style-type: none;
    
  }

  ul.top-nav li{
      display: inline;
      
  }

  ul.top-nav li a {
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

  ul.top-nav li a:hover{
    background-color: black;
  }

  





